
<!-- Template for handlebars  -->
<!-- books and book.id/author to be added later -->

{{#each books as |book|}}
  <!-- {{log book}} -->
  <section data-id="{{book.id}}">
    <h6>Book Title:</h6>
    <h3>
      {{limit book.title 15}}
    </h3>
    <h6>Author:</h6>
    <p>
      {{#if book.author}}
        {{book.author}}
      {{else}}
        Ghost writer - spooky!
      {{/if}}
    </p>
    <button data-id="{{book.id}}" class="btn btn-danger remove-book">Remove Book</button>
    <!-- {{> partial}} -->
  </section>

{{/each}}
